main {
	display: flex; 
	flex-direction: column;

}

main img {
	margin: 2rem;
	width: 50vw;
	align-self: center;
}

.error {
	color: red; 
}

input {
	width: 50vw;
}

ul {
	margin: 2rem; 
	list-style-type: none;
	display: flex; 
	justify-content: space-around;
	
}
